.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 1;
}

ul {
  overflow-y: auto;
}

.nav-link {
  color: white !important;
  transition: 0.2s;
}

.nav-link:hover {
  color: #212529 !important;
  transition: 0.2s ease-out;
  background-color: white;
}
